a:visited {}

body {
 /* background-color:#ECECE7;*/
}

section {
  margin-bottom: 10px;
}

h1 {
  color:#174C5B;
}

.hidden {
  display: none;
}

a {
  color: black;
  text-decoration:none;
}

a:visited {
  color:  black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  margin: 0;
  border: 0.1em solid gray;
  color: black;
}

.time-selection {
	font-size: 10px;
	float:right;
}

#time-selector {
  margin-top: 8px;
  margin-bottom: 0;
}

h3 {
  line-height: 27px;
  font-size: 18px;
}

.page-header {
  padding: 0;
}

#jobs-table li {
  border-bottom: thin solid #ddd;
  padding: 10px 0;
}

#jobs-table .date {
  font-size: 12px;
}

h4 {
  margin: 5px 0;
  padding: 0;
}

button {
  margin-right: 5px;
  }
