a:visited {}

body {
  font-family: courier;
  background-color:#ECECE7;
}

section {
  margin-bottom: 10px;
}

h1 {
  color:#174C5B;
}

.hidden {
  display: none;
}

a {
  color: black;
  text-decoration:none;
}

a:visited {
  color:  black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  margin: 0;
  border: 0.1em solid gray;
  color: black;
}

.selected {
	font-weight: bold;
}

.time-selection {
	font-size: 10px;
	float:right;
}

#queue-summary span {
  padding-right: 15px;
}
