<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Komrade Dashboard</title>
	<meta name="description" content="Komrade Dashboard" />
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="js/underscore.js" type="text/javascript"></script>
	<script src="js/highcharts.js" type="text/javascript"></script>
	<script src="js/chart-theme.js" type="text/javascript"></script>
	<script src="js/realtime-metrics.js" type="text/javascript"></script>
	<script src="js/job-manager.js" type="text/javascript"></script>
	<script src="js/queue-summary.js" type="text/javascript"></script>
</head>

<body>
	<div class="container">

		<div class="page-header clearfix">
		  <h3 class="pull-left">Throughput</h3>
			<ul id="time-selector" class="nav nav-pills pull-right">
				<li><a data-resolution="second">Realtime</a></li>
				<li class="active"><a data-resolution="hour">Hour</a></li>
				<li><a data-resolution="day">Day</a></li>
				<li><a data-resolution="week">Week</a></li>
			</ul>
		</div>
		<section id="throughput-metrics">
			<div class="chart"></div>
		</section>

		<section id="job-manager">
			<div class="page-header">
				<h3>Errors</h3>
			</div>
			<div class="row">
				<div class="span12">
					<ul id="jobs-table" class="unstyled">
					</ul>
				</div>
			</div>
		</section>
	</div>
</body>

<script src="https://s3.amazonaws.com/assets.heroku.com/boomerang/boomerang.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    Boomerang.init({app: '<%=@app["name"]%>', addon: 'komrade'});
  });
</script>
</html>
